<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{/fragements/layout/headerandfooter}">

<head>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script th:inline="javascript">
        var csrfToken = /*[[${_csrf.token}]]*/ '';
        var csrfHeader = /*[[${_csrf.headerName}]]*/ '';


        function changePhone(){
            var phone = $('#phone').val().trim(); // val()로 값을 가져옵니다.
            var errorContainer = document.querySelector(".error-container"); // 오류를 표시할 컨테이너
            var memberId = $('#memberId').val().trim(); // val()로 값을 가져옵니다.
            $.ajax({
                url : "/changePhone",
                type :"POST",
                data : {
                    'memberId' : memberId,
                    'phoneNumber' : phone
                },
                beforeSend: function (xhr){
                    xhr.setRequestHeader(csrfHeader,csrfToken);
                    errorContainer.innerHTML = "";
                },
                success: function (response){
                    alert("전화번호 수정 성공")
                },
                error: function (xhr, status, error) {
                    if (xhr.status === 400) {
                        var errorMessage = xhr.responseText; // 서버에서 전달된 오류 메시지
                        var errorElement = document.createElement("p");
                        errorElement.style.color = "red";
                        errorElement.textContent = errorMessage; // 에러 메시지 설정

                        errorContainer.innerHTML = ""; // 기존 메시지 제거
                        errorContainer.appendChild(errorElement); // 새로운 오류 메시지 추가
                    }
                }
            });
        }

        function CartOrder() {
            var selectDelivery = document.getElementById('deliveryRequest').value;
            var memberId = $('#memberId').val().trim();
            var itemNames = []; // 아이템 이름들을 담을 배열

            // 선택한 상품들의 이름 가져오기
            var items = document.querySelectorAll('.item-box');
            items.forEach(function(item) {
                var itemName = $(item).find('#itemNames').val();
                itemNames.push(itemName); // 아이템 이름을 배열에 추가
            });

            var requestData = {
                "itemNames": itemNames,
                "memberId": memberId,
                "deliveryRequest": selectDelivery
            };

            $.ajax({
                url: "/orders/cart",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(requestData),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(csrfHeader, csrfToken);
                },
                success: function(response) {
                    alert("주문 성공");
                    window.location.href = "/orders/list";
                },
                error: function(xhr, status, error) {
                    if (xhr.status === 400) {
                        alert("주문 도중 오류 발생");
                    }
                }
            });
            console.log(itemNames);
        }

    </script>
    <script>
        function calculateTotalPrice() {
            var totalPrice = 0;

            // 모든 상품 정보를 가져와야 함 (여러 개의 상품이 있는 경우)
            var items = document.querySelectorAll('.item-box');

            items.forEach(function(item) {
                var priceText = $(item).find('#itemPrice').text().trim();
                console.log(priceText);
                var quantityText = $(item).find('#itemQuantity').text().trim();
                var deliveryPriceText = $(item).find('#deliveryPrice').text().trim();

                // 텍스트에서 숫자 부분만 추출
                var price = parseInt(priceText.replace(/[^\d]/g, '')); // 상품 가격
                console.log(price);
                var quantity = parseInt(quantityText.replace(/[^\d]/g, '')); // 상품 수량
                var deliveryPrice = parseInt(deliveryPriceText.replace(/[^\d]/g, '')); // 배송비

                // 각 상품의 총 가격 계산
                var itemTotalPrice = (price * quantity) + deliveryPrice;

                // 전체 주문 가격에 더하기
                totalPrice += itemTotalPrice;
            });

            // 총 가격을 HTML에 표시하거나 원하는 곳에 사용할 수 있음
            $('#calculateTotalPrice').text('총 가격: ' + totalPrice.toLocaleString() + '원');
        }

        $(document).ready(function() {
            calculateTotalPrice();
        });
    </script>
</head>
<th:block layout:fragment="css">
    <style>
        .container-with-padding {
            padding: 50px 300px; /* 좌우 여백 크기를 조절하세요 */
        }
    </style>
</th:block>

<div layout:fragment="content">

    <header class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">결제 페이지 </p> </div>
    </header>
    <fieldset>
        <legend>주문 내용 확인</legend>


    <!-- 주문/배송 정보 -->
    <div class="container mt-5">
        <!-- 받는사람정보 -->
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">구매자정보</h2>

                <input type="hidden" id="memberId" th:value="${userName.id}"/>

                <!-- 주소 및 연락처 정보 테이블 -->
                <table class="table mt-3">
                    <tbody>
                    <tr>
                        <th scope="row">이름</th>
                        <td>
                            <div th:text="${userName.username}">김민우</div>
                        </td>
                    </tr>
                    <tr/>
                    <tr>
                        <th scope="row">이메일</th>
                        <td>
                            <div th:text="${userName.email}">example@example.com</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">휴대폰 번호</th>
                        <td class="customer__col customer__col--2">
                            <div data-component="customer-phone">
                                <div class="customer-phone__root">
                                    <div data-component="customer-phone-form-tel">
                                        <form data-customer-phone--form-tel="">
                                            <div>
                                                <input type="tel" id="phone" class="form-control" data-customer-phone--input-tel=""
                                                       th:value="${#strings.substring(userName.phoneNumber, 0, 3)}+'-'+${#strings.substring(userName.phoneNumber, 3, 7)}+'-'+${#strings.substring(userName.phoneNumber, 7)}">
                                                <button type="button" onclick="changePhone()" data-customer-phone--submit-tel="" class="btn btn-primary mt-2">
                                                    수정
                                                </button>
                                                <span class="customer-phone__tel-desc" style="font-size: small; color: #4d5154">쿠폰/티켓정보는 구매한 분의 번호로 전송됩니다.</span>
                                                <div class="error-container"></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div data-component="customer-phone-noties">
                                        <p class="customer-phone__noti ">
                                            * 인증 번호를 못 받았다면, 1577-7011 번호 차단 및 스팸 설정을 확인해 주세요.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- 받는 사람 정보 -->
    <div class="container mt-4">
        <!-- 받는사람정보 -->
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">받는사람정보</h2>
                <button class="btn btn-primary" type="button">
                    배송지변경
                </button>
                <!-- 주소 및 연락처 정보 테이블 -->
                <table class="table mt-3">
                    <tbody>
                    <tr>
                        <th scope="row">이름</th>
                        <td>
                            <span>김민우</span>
                            <span class="badge bg-primary">기본배송지</span>
                            <span class="badge bg-success">로켓와우 가능</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">배송주소</th>
                        <td>
                            <span th:text="${userName.addresses.get(0).address }+' '+${userName.addresses.get(0).detailAddr}">경기도 이천시 안흥동 469 이천안흥 주공아파트 및 상가 107동104호</span>
                            <div class="alert alert-danger mt-2" role="alert">
                                배송이 불가능한 주소입니다. 다른 배송지를 입력하거나 선택해주세요.
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">연락처</th>
                        <td th:text="${#strings.substring(userName.phoneNumber, 0, 3)}+'-'+${#strings.substring(userName.phoneNumber, 3, 7)}+'-'+${#strings.substring(userName.phoneNumber, 7)}">010-8342-7747</td>
                    </tr>
                    </tbody>
                </table>

                <!-- 배송 요청사항 -->
                <div data-delivery-address__related-table="">
                    <div data-component="deliveryRequestMessage">
                        <div class="delivery-request-message__container" data-delivery-request-message__container="">
                            <table class="delivery-request-message">
                                <tbody>
                                <tr>
                                    <th class="delivery-request-message__th">
                                        <span>배송 요청사항</span>
                                    </th>
                                    <td class="delivery-request-message__td delivery-request-message__td--name">
<!--                                        <button class="delivery-request-message__popup-list-button" type="button"  onclick="openAddressPopup()">-->
<!--                                            변경-->
<!--                                        </button>-->
<!--                                        <div id="addressPopup" style="display: none;">-->
                                            <select th:field="${delivery.deliveryRequest}" id="deliveryRequest">
                                                <!-- 여기에 주소 옵션을 동적으로 추가할 수 있습니다. -->
                                                <option value="집앞 경비실">집앞 경비실</option>
                                                <option value="집앞 등">집앞 등</option>
                                                <!-- 추가적인 옵션을 여기에 계속해서 추가 -->
                                            </select>
                                        <div class="delivery-request-message__covid-nudge-container"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 상품 정보 -->
    <div class="container mt-5">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">주문 상세 정보</h2>
                <table class="table mt-3">
                    <tbody>
                    <tr>
                        <th scope="row">배송 상태</th>
                        <td>
                            <div class="bundle-info__expected-delivery-date-box">
                                <span class="bundle-info__expected-delivery-info">
                                    <span class="bundle-info__expected-delivery-date">
                                        <strong class="bundle-info__expected-delivery-date__dropship">토요일 12/30</strong>
                                        <span class="bundle-info__expected-delivery-date-suffix__dropship">도착 예정</span>
                                    </span>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" style="width: 68.63px;">상품 정보</th>
                        <td>
                            <div th:each="item:${items}">
                                <div class="item-box">
                                    <div class="bundle-info__vendor-item">
                                        <input type="hidden" id="CartItemId" th:value="${item.id}">
                                            <span class="bundle-info__vendor-item__offer-condition" >
                                                <div th:text="'상품명: '+${item.itemName}"></div>
                                                <input type="hidden" id="itemNames" th:value="${item.itemName}"/>
                                            </span>
                                    </div>
                                    <div class="bundle-info__item-description bundle-info__vendor-item-description--last">
                                        <ul>
                                            <li id="itemPrice" th:text="'상품가격: '+ ${#numbers.formatInteger(item.price , 0, 'COMMA')} +'원'"/>
                                            <li id="itemQuantity"th:text="'수량: '+${items.get(0).baskets.get(0).quantity}+'개'"/>
                                            <li id="deliveryPrice"th:text="'배송비: '+${#numbers.formatInteger(item.deliveryPrice,0,'COMMA')}+'원'"/>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 결제 정보 -->

    <div>
        <div class="container mt-5">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">결제 정보</h2>
                    <table class="table mt-3">
                        <tbody>
                        <tr>
                            <th scope="row">총 가격</th>
                            <td>
                                <div>
                                <span>
                                    <span>
                                        <span id="calculateTotalPrice"  style="color: #dc3545; font: bolder" ></span>
                                    </span>
                                </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


        <!-- 결제 버튼 -->
        <button onclick="CartOrder()">결제하기</button>
<!--        <input type="hidden" id="price" th:value="${item.price}" />-->

<!--        <input type="hidden" id="quantity" th:value="${quantity}">-->

    </fieldset>
</div>

</html>